<div class="input-container">
  <input
    type="text"
    class="input-text{{#if rounded}} input-text_rounded{{/if}}{{#if center}} input-text_center{{/if}}"
    placeholder="{{placeholder}}"
    name="{{name}}"
    value=""
  />
  {{#if icon}}
    <img src="{{icon}}" class="input-icon" />
  {{/if}}
</div>
