<div class="dropdown">
  {{#each list}}
    <div class="dropdown__item">
      <div class="dropdown__item-icon">
        <img src="{{this.icon}}" alt="icon">
      </div>
      <span class="dropdown__item-name">
        {{this.name}}
      </span>
    </div>
  {{/each}}
</div>
