<div class="container center">
  <div class="card login-card">
    <div class="form-title">Вход</div>

    <form action="" class="form-container login-card__form">
      <div class="field-group">
        {{> Field label="Логин" type="input" }}
        {{> Field label="Пароль" type="password" }}
      </div>
      <div class="buttons-group">
        {{> Button label="Войти" type="primary" }}
        {{> Button label="Нет аккаунта?" type="link" }}
      </div>
    </form>
  </div>
</div>