<div class="container">
  <div class="login-card">
    <div class="login-card__title">Вход</div>

    <form action="" class="login-card__form">
      <div class="login-card__field-group">
        {{> Field label="Логин" type="input" }}
        {{> Field label="Пароль" type="password" }}
      </div>
      <div class="login-card__buttons">
        {{> Button label="Войти" type="primary" }}
        {{> Button label="Нет аккаунта?" type="link" }}
      </div>
    </form>
  </div>
</div>