<div class="message-list">
  {{> Message message="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique molestias, quae magni maxime
  veritatis
  architecto, odit quo a minima fugit tenetur perspiciatis illo labore dolorum explicabo distinctio deleniti
  ullam. Blanditiis."}}
  {{> Message message="Что за не понятный текст ты мне шлешь?" own=true}}
</div>