<div class="message-list">
  <div class="message-list__date-group">
    <div class="sticky-date">
      <span class="sticky-date__text-date">02 февраля</span>
    </div>
    <div class="message-list__message-group">
      {{> Message message="Привет." first=true}}
      {{> Message message="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique molestias, quae magni
      maxime
      veritatis architecto, odit quo a minima fugit tenetur perspiciatis illo labore dolorum explicabo distinctio
      deleniti
      ullam. Blanditiis."}}
    </div>

    <div class="message-list__message-group">
      {{> Message read=true message="Привет. Что за не понятный текст ты мне шлешь?" own=true first=true}}
      {{> Message read=true message="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla pariatur officia
      accusamus. Commodi reiciendis fugit facilis vitae recusandae sapiente, repellat, nam explicabo nesciunt, assumenda
      qui deserunt tempore! Ipsam, obcaecati eum?" own=true}}
      {{> Message read=true message="Ау" own=true}}
    </div>

    <div class="message-list__message-group">
      {{> Message message="Не бери в голову. Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в
      какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что
      астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны,
      так как астронавты с собой забрали только кассеты с пленкой.
      Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали.
      Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро." first=true}}
      <!-- TODO доделать, картинка размером на всё сообщение без отступов -->
      {{> Message send=true image="/src/assets/img/camera.png" }}
    </div>
  </div>

  <div class="message-list__date-group">
    <div class="sticky-date">
      <span class="sticky-date__text-date">03 февраля</span>
    </div>
    <div class="message-list__message-group">
      {{> Message delivered=true message="Незнал" own=true first=true}}
      {{> Message send=true message="Круто!" own=true}}
      {{> Message read=true message="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla pariatur officia
      accusamus. Commodi reiciendis fugit facilis vitae recusandae sapiente, repellat, nam explicabo nesciunt, assumenda
      qui deserunt tempore! Ipsam, obcaecati eum?" own=true}}
      {{> Message read=true message="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla pariatur officia
      accusamus. Commodi reiciendis fugit facilis vitae recusandae sapiente, repellat, nam explicabo nesciunt, assumenda
      qui deserunt tempore! Ipsam, obcaecati eum?" own=true}}
      {{> Message read=true message="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla pariatur officia
      accusamus. Commodi reiciendis fugit facilis vitae recusandae sapiente, repellat, nam explicabo nesciunt, assumenda
      qui deserunt tempore! Ipsam, obcaecati eum?" own=true}}
      {{> Message read=true message="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla pariatur officia
      accusamus. Commodi reiciendis fugit facilis vitae recusandae sapiente, repellat, nam explicabo nesciunt, assumenda
      qui deserunt tempore! Ipsam, obcaecati eum?" own=true}}
      {{> Message read=true message="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla pariatur officia
      accusamus. Commodi reiciendis fugit facilis vitae recusandae sapiente, repellat, nam explicabo nesciunt, assumenda
      qui deserunt tempore! Ipsam, obcaecati eum?" own=true}}
      {{> Message read=true message="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla pariatur officia
      accusamus. Commodi reiciendis fugit facilis vitae recusandae sapiente, repellat, nam explicabo nesciunt, assumenda
      qui deserunt tempore! Ipsam, obcaecati eum?" own=true}}
      {{> Message read=true message="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla pariatur officia
      accusamus. Commodi reiciendis fugit facilis vitae recusandae sapiente, repellat, nam explicabo nesciunt, assumenda
      qui deserunt tempore! Ipsam, obcaecati eum?" own=true}}
    </div>
  </div>

</div>