@mixin arrow($deg) {
  .button__arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: matrix(0, 1, -1, 0, 0, -2);
    cursor: pointer;
  }

  .button__arrow span {
    display: block;
    width: 0.65rem;
    height: 0.65rem;
    border-bottom: 2px solid var(--text-color-label);
    border-right: 2px solid var(--text-color-label);
    transform: rotate($deg);
    margin: -0.25rem;
  }
}

@mixin link($mainColor, $hoverColor, $activeColor, $direction: "") {
  padding: 0;
  background-color: transparent;

  width: max-content;
  height: max-content;

  .button__label {
    color: $mainColor;

    &:active {
      color: $activeColor;
    }
  }

  &:hover {
    .button__label {
      color: $hoverColor;
    }
    .button__arrow span {
      border-color: $hoverColor;
    }
  }

  @if $direction == "left" {
    @include arrow(45deg);
  } @else if $direction == "right" {
    @include arrow(-135deg);
  }
}

@mixin buttonTheme($mainColor, $hoverColor, $activeColor) {
  background-color: $mainColor;

  &:not(:disabled):hover {
    background-color: $hoverColor;
  }
  &:hover:active {
    background-color: $activeColor;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  padding: 0.75rem;
  cursor: pointer;
  width: 100%;
  height: 2.75rem;
  max-height: 2.75rem;
  position: relative;

  &__label {
    color: white;
  }

  &__primary {
    @include buttonTheme(
      var(--main-color), 
      var(--main-color-hover), 
      var(--main-color-active)
    );
  }

  &__red {
    @include buttonTheme(
      var(--text-color-crimson),
      var(--text-color-crimson-hover),
      var(--text-color-crimson-active)
    );
  }

  &__outlined {
    @include buttonTheme(
      var(--background-color-white), 
      var(--background-color-light), 
      var(--background-color-light-grey)
    );
  }

  &__link {
    @include link(
      var(--main-color),
      var(--main-color-hover),
      var(--main-color-active)
    );
  }

  &__link-arrow-right {
    @include link(
      var(--text-color-label),
      var(--main-color-hover),
      var(--main-color-active),
      "right"
    );
  }

  &__link-arrow-left {
    @include link(
      var(--text-color-label),
      var(--main-color-hover),
      var(--main-color-active),
      "left"
    );
  }

  &__icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-width: 0.5rem;
    min-height: 0.5rem;
  }

  &__circle {
    height: 100%;
    width: 100%;
    max-width: 3rem;
    max-height: 3rem;
    border-radius: 50%;
    padding: 0;
    min-width: 1rem;
    min-height: 1rem;
  }

  &__label + &__icon {
    padding-left: 0.5rem;
  }

}

