@mixin button-theme($mainColor, $hoverColor, $activeColor, $isLink: false) {
  @if $isLink {
    color: $mainColor;
  } @else {
    background-color: $mainColor;
  }

  &:not(:disabled):hover {
    @if $isLink {
      color: $hoverColor;
    } @else {
      background-color: $hoverColor;
    }
  }

  &:hover:active {
    @if $isLink {
      color: $activeColor;
    } @else {
      background-color: $activeColor;
    }
  }
}

.icon.right {
  margin-left: 5px;
}

.icon.left {
  margin-right: 5px;
}

.button {
  cursor: pointer;
  border: none;
  background-color: transparent;

  &_primary {
    @include button-theme(
      var(--main-color),
      var(--main-color-hover),
      var(--main-color-active)
    );
  }
  &_second {
    @include button-theme(
      var(--second-color),
      var(--second-color-hover),
      var(--second-color-active)
    );
  }
  &_danger {
    @include button-theme(
      var(--text-color-red),
      var(--text-color-red-hover),
      var(--text-color-red-active)
    );
  }
  &_text {
    @include button-theme(
      transparent,
      var(--background-color-light-grey),
      var(--background-color-light)
    );
  }
}

.rectangle-button {
  border-radius: 8px;
  padding: 0.75rem;
  width: 100%;
  height: 2.75rem;
  max-height: 2.75rem;
  color: var(--text-color-light);
}

.link-button {
  color: initial;

  &_primary {
    @include button-theme(
      var(--main-color),
      var(--main-color-hover),
      var(--main-color-active),
      $isLink: true,
    );
  }
  &_second {
    @include button-theme(
      var(--second-color),
      var(--second-color-hover),
      var(--second-color-active),
      $isLink: true,
    );
  }
  &_danger {
    @include button-theme(
      var(--text-color-red),
      var(--text-color-red-hover),
      var(--text-color-red-active),
      $isLink: true,
    );
  }

  &:hover {
    text-decoration: none;
  }
}

.round-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 1rem;
  min-height: 1rem;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  color: var(--text-color-light);

  img.icon {
    margin: 0;
  }
}
