@font-face {
  font-family: "Roboto", sans-serif;
  src: url("/src/assets/fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inter", sans-serif;
  src: url("/src/assets/fonts/Inter-Regular.ttf") format("truetype");
}