.chat-container {
  display: flex;
  position: relative;

  .sidebar {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 25rem;
    max-width: 25rem;
    height: 100%;
    border-right: 1px solid var(--border-color-light);

    &__settings {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-shrink: 0;
      padding: 1rem 0.5rem;
      height: var(--header-height);
    }

    &__search {
      padding: 0 0.5rem 0.5rem 0.5rem;
    }

    &__list {
      flex-grow: 1;
      max-height: 100%;
      overflow-y: auto;
    }
  }

  .chat-section {
    width: 100%;
    flex: 2;
  }
}
