<div class="container chat-container">
  <div class="sidebar">
    <div class="sidebar__settings">
      {{> Button isLink=true theme="second" label="Профиль" icon="/assets/icons/chevron.svg" }}
    </div>
    <div class="sidebar__search">
      {{> InputText placeholder="Поиск" center=true icon="/assets/icons/search.svg"}}
    </div>
    <div class="sidebar__list">
      {{> ChatList chatList=chatList }}
    </div>
  </div>

  <div class="chat-section">
    {{> ChatContent info=chatInfo messages=messages }}
  </div>
</div>