<div class="container chat-container">
  <div class="sidebar">
    <div class="sidebar__settings">
    </div>
    <div class="sidebar__search">
      {{> SearchField }}
    </div>
    <div class="sidebar__list">
      {{> ChatList list=list }}
    </div>
  </div>
  <div class="chat-content">Hello</div>
</div>