<nav>
  <ul class="page-list">
    <li class="page-list__item"><a href="#" page="login">1. Страница авторизации (LoginPage)</a></li>
    <li class="page-list__item"><a href="#" page="registration">2. Страница регистрации (RegistrationPage)</a></li>
    <li class="page-list__item"><a href="#" page="chat">3. Страница с чатами (ChatPage)</a></li>
    <li class="page-list__item"><a href="#" page="profile">4. Страница профиля (ProfilePage)</a></li>
  </ul>
</nav>
