<div class="container center">
  <div class="card register-card">
    <div class="form-title">Регистрация</div>

    <form action="" class="form-container register-card__form">
      <div class="field-group">
        {{> Field label="Почта" type="email" name="email" required=true error="Не верный формат e-mail" }}
        {{> Field label="Логин" type="input" name="login" required=true }}
        {{> Field label="Имя" type="input" name="first_name" required=true }}
        {{> Field label="Фамилия" type="input" name="second_name" required=true }}
        {{> Field label="Телефон" type="input" name="phone" required=true }}
        {{> Field label="Пароль" type="password" name="password" required=true }}
        {{> Field label="Пароль (еще раз)" type="password" }}
      </div>
      <div class="buttons-group">
        {{> Button type="submit" isRectangle=true label="Зарегистрироваться" }}
        {{> Button label="Войти" isLink=true }}
      </div>
    </form>
  </div>
</div>
