.search-container {
  position: relative;
  width: 100%;
}

.search-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(calc(-50% - 2.25rem), calc(50% - 1.5rem));
  pointer-events: none;
  // transition: all 0.3s ease;
}

.search-input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--background-color-light);
  background-color: var(--background-color-light);
  border-radius: 6px;
  padding: 0.5rem;
  // transition: padding 0.3s ease;
}

.search-input {
  &:focus, &:not(:placeholder-shown) {
    padding-left: 1.75rem;
  }

  &:focus+.search-icon, &:not(:placeholder-shown) + .search-icon {
    left: 0;
    transform: translate(0.15rem, calc(50% - 1.5rem));
  }
}

.search-input:not(:focus)::placeholder {
  text-align: center;
}
