.remove-user-window {
  display: flex;
  flex-direction: column;
  min-width: 30rem;
  min-height: 20rem;
  width: 30rem;
  background-color: white;
  border-radius: 1rem;
  border: 2px solid var(--border-color-grey);
  cursor: default;
  padding: 3rem 2rem;

  &__header {
    text-align: center;
  }

  &__title {
    font-weight: var(--font-weight-600);
    font-size: 1.25rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__content {
    flex-grow: 1;
    padding: 2rem 0;
    overflow: auto;
    max-height: 120px;
    height: 120px;

    span {
      pointer-events: none;
    }
  }

  &__user-item {
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.5rem;

    &:hover {
      background-color: var(--background-color-light);
    }
  }

  &__user-name {
    display: inline-block;
    width: 50%;
  }

  &__footer {
    position: relative;
    padding-top: 1rem;
  }

  &__validation {
    position: absolute;
    bottom: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    color: var(--text-color-red);
  }
}
