<div class="file-input-container">
  <img src="/src/assets/icons/default_avatar.svg" alt="Icon" class="file-input-image">
  <label for="avatar-upload" class="file-input-label">
    <div class="file-input-title">
      <span>Поменять аватар</span>
    </div>
    <input type="file" id="avatar-upload">
  </label>
</div>
