@import "../assets/css/normalize.scss";
@import "../assets/fonts/fonts.scss";

:root {
  --main-color: #3b82f6;
  --main-color-hover: #2563eb;
  --main-color-active: #5787ed;
  --second-color: #999999;
  --second-color-hover: #808080;
  --second-color-active: #a1a1a1;

  --border-color-light: #eaeaea;
  --border-color-grey: #999999;
  --border-color-active: var(--main-color);
  --border-color-red: crimson;
  --text-color-main: #333333;
  --text-color-light: #fff;
  --text-color-label: #999999;
  --text-color-red: crimson;
  --text-color-red-hover: rgb(180, 15, 48);
  --text-color-red-active: rgb(224, 66, 98);

  --font-weight-500: 500;
  --font-weight-600: 600;

  --background-color-white: #fff;
  --background-color-light: #efefef;
  --background-color-light-grey: #e6e3e3;

  --light-active-color: #e4edfd;
  --light-hover-color: #f6f9ff;

  --text-size-standart: 14px;
  --header-height: 4rem;

  --scrollbar-width: 0.5rem;

  --modal-z-index: 1001;
  --dropdown-z-index: 101;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  color: var(--text-color-main);
}

html * {
  font-family: "Roboto-black", sans-serif;
}

label,
li {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: var(--text-size-standart);
}

#app {
  height: inherit;
}

a {
  text-decoration: none;
}

.icon {
  padding: 0 0.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  height: 50%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.container {
  height: 100%;
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  overflow: hidden;
}

.modal-container {
  display: none;
  position: absolute;
  z-index: var(--modal-z-index);
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;

  &_visible {
    display: inherit;
  }
}

.card {
  display: flex;
  flex-direction: column;

  border-radius: 10px;
  padding: 2rem;
  background-color: var(--background-color-white);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.form-title {
  text-align: center;
  font-size: 1.75rem;
  font-weight: var(--font-weight-600);
  padding: 1rem 0 2rem 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.field-group {
  :not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.buttons-group {
  display: flex;
  flex-direction: column;
  align-items: center;

  :not(:last-child) {
    margin-bottom: 1rem;
  }
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.05);
  border-radius: 0.625rem;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.625rem;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.05);
  background-color: lightgrey;
}
