<div class="chat-content">
  <div class="chat-content__header">
    <div class="chat-content__avatar">
      <img src="{{info.avatar}}" alt="avatar" />
    </div>
    <div class="chat-content__user-name">{{info.name}}</div>
    <div class="chat-content__utils">
      {{> Button theme="outlined" icon="/src/assets/icons/properties.svg"}}
    </div>
  </div>

  <div class="chat-content__chat">
    {{> MessageList messages=messages}}
  </div>

  <div class="chat-input">
    <div class="chat-input__settings">
      {{> Button theme="outlined" icon="/src/assets/icons/chat-pin.svg"}}
    </div>
    <div class="chat-input__input">
      {{> InputText placeholder="Сообщение" rounded=true}}
    </div>
    <div class="chat-input__send-button">
      {{> Button theme="primary" icon="/src/assets/icons/arrow-right-white.svg" circle=true}}
    </div>
  </div>
</div>